@{
    ViewData["Title"] = "Nova Camera WEB";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!!!</h1>
    <p>Este e apenas um teste de Camera.</p>
</div>
<div class="container page-content">
    <h1><a href="CadastroUsuario.aspx" class="nav-button transform"><span></span></a>&nbsp;Câmera</h1>
    <div class="padding10 bg-lighterBlue fg-white margin10 no-margin-right no-margin-left align-center">
        Fotografe logo após, salve.
    </div>
    <div id="divPrincipal" style="float: left; margin-right: 229px;">
        <label class="Margem-Rotulo">Webcam em funcionamento</label>
        <div class="image-container">
            <div class="frame">
                <video id="video" class="Estilo-Camera"></video>
            </div>
            <div id="imgCamera" class="image-overlay op-grayDarker" style="cursor: pointer;">
                <button id="btnFotografar" class="btn btn-primary">Fotografar</button> 
            </div>            
        </div>
    </div>
    <div data-role="dialog" id="dialog" class="padding20" data-close-button="false" data-overlay="true" data-overlay-color="op-dark">
        <h3>Deseja salvar essa imagem?</h3>
        <canvas id="cvFoto" class="Estilo-Camera"></canvas>
    </div>
<div>
    
    
               
    </div>
</div>

<script src="~/js/cameraEstilo.js"></script>

