@{
    ViewData["Title"] = "Nova Camera WEB";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!!!</h1>
    <p>Este e apenas um teste de Camera.</p>
</div>
<div>
  <video id="video"></video>
  <canvas id="canvas"></canvas>
  <button id="capture">
      Capture
  </button>
</div>
<script src="~/js/cameraEstilo.js"></script>

